<h1><%= @post.title %></h1>
<div class="content">
  <p><%= @post.body %></p>
  <p>Written by: <%= link_to @post.user.name, user_path(@post.user_id) %></p>
</div>

<%= form_with model: @like do |f| %>
  <%= f.hidden_field(:user_id, value: current_user.id) %>
  <%= f.hidden_field(:post_id, value: @post.id) %>
  <%= f.submit "I like this post" %>
<% end %>

<p><%= @post.likes.count %> likes</p>

<h2>Comments</h2>

<% unless @post.comments.nil? %>
  <ul>
  <% @post.comments.each do |c| %>
    <li>
      <%= link_to c.user.name, user_path(c.user_id) %>:
      <%= c.content %>
    </li>
  <% end %>
  </ul>
<% end %>


<br>
<%= form_with model: @comment do |f| %>
  <%= f.label :content %>
  <br>
  <%= f.text_area(:content, rows: 8, cols: 35, placeholder: "Comment goes here") %>
  <%= f.hidden_field(:user_id, value: current_user.id) %>
  <%= f.hidden_field(:post_id, value: @post.id) %>
  <%= f.submit "Add comment" %>
<% end %>
